h2 {
  color: green;
  font-style: italic;
}

.blog {
  color: black;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 15px;
  margin-bottom: 10px;
  background-color:rgb(238, 250, 222);
  border-radius: 10px;
  width: 500px;
}

.blogTitle {
  font-size: 21px;
}

.blogUrl {
  cursor: pointer;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.formLabel {
  display: inline-block;
  min-width: 50px;
}